html{
  background-color: #fffffb;
}

#cover{
  position: relative;
  height: 98vh;
  width: 98vw;
  min-height: 600px;
}

#cover::after{
  content: '';
  text-align: center;
  position: absolute;
  top: 98%;
  width: 70%;
  left: 15%;
  height: 3px;
  background-color: #1c1c1c;
}

#title{
  position: absolute;
  display: flex;
  width: 99vw;
  top: 15%;
  height: 300px; 
  

}
.title{
  writing-mode: vertical-rl;
  font-size: 100px;
  max-height: 350px;
  margin: auto;
  word-wrap: break-word;
  font-family: FandolSong-Bold;
}

.nav{
  position: relative;
  width: 99vw;
  display: flex;
  justify-content: center;
  top: 70%;

}
.nav_nav{
  writing-mode: vertical-rl;
  font-size: 120%;
  margin: 30px;
  transition: .3s;
  letter-spacing: 4px;
  transform: translateY(-2px);
  font-family: FandolSong-Bold;
}
.nav_nav:hover{
  letter-spacing: 20px;
  transform: translateY(-10px);
}

.postlist{
  width: 80vw;
  left: 10vw;
  position: relative;

  margin-top: 70px;
}

.overview{
  position: relative;
  width: 70%;
  left: 15%;
  min-height:150px;
  max-height:250px;
  margin:20px;
}

.detail{
  position: relative;
  text-align: center;
  font-size: 30px;
  font-family: FandolSong;
  transition: .2s;
  font-weight:bolder;
}
.detail:hover{
  letter-spacing:2px;

}
.detail::before{
  content: "「  ";
  transition: .2s;
  opacity: 0;
}
.detail::after{
  content: " 」";
  transition: .2s;
  opacity: 0;
}
.detail:hover::before{
  transform: translateX(-5px);
  opacity: 1;
}
.detail:hover::after{
  transform: translateX(5px);
  opacity: 1;
}
.excerpt{
  overflow: hidden;
  text-overflow: ellipsis;
  text-indent: 2em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  font-size: 20px;
}

.date{
  margin-top:10px;
  width:100%;
  text-align:right;
  font-family: FandolSong;
  font-size: 20px;
  font-weight: bold;
}

.paginator{
  font-size: 15px;
  width:fit-content;
  margin:auto;
  font-weight: bold;
}

.previous-disabled,.next-disabled,.topage{
  color: #91989f;
}


.previous,.next,.current-page{
  color: #1c1c1c;
}
.previous::before{
  content: "<";
  opacity: 0;
  transition: .3s;
}
.next::after{
  content: ">";
  opacity: 0;
  transition: .3s;
}
.previous:hover::before{
  opacity: 1;
}

.next:hover::before{
  opacity: 1;
}


































pre {
  font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
  border: solid 1px #ddd;
  border-radius: 3px;
  background-color: #f8f8ff;
  padding: 6px 10px;
  font-size: 1em;
  line-height: 100%;
  overflow: auto;
}

code {
  font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
  font-size: 0.75em;
  border: solid 1px #ddd;
  border-radius: 3px;
  background-color: #f8f8ff;
  margin: 0 2px;
  padding: 0px 5px;
  word-wrap: break-word;
  word-break: break-all;
}

pre code {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  word-wrap: normal;
}


div.tag_cloud a {
  word-wrap: normal;
  word-break: normal;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 100%;
}

img.emoji {
  display: inline;
  margin-bottom: 0;
}

hr {
  border: 0;
  height: 2px;
  background-color: LightGrey;
  margin: 0.75em 0;
}

strong {
  color: #666666;
}







div.post_footer {
  text-align: right;
  font-size: 0.9em;
  font-style: italic;
}

div.post_footer a {
  border: LightGrey 1px dashed;
}

table {
  border-collapse: collapse;
}

th {
  padding: 0.375em 0.8125em;
  border: 1px solid #ddd;
  font-weight: bold;
}

td {
  padding: 0.375em 0.8125em;
  border: 1px solid #ddd;
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}





@font-face {
  font-family: FandolSong-Bold;
  src: url(./FandolSong-Bold.otf);
}

@font-face {
  font-family: FandolSong;
  src: url(./FandolSong-Regular.otf);
}