
#cover{
  position: relative;
  height: 96vh;

}

#title{

  position: relative;
  width: 100vw;
  top: 16vh;
  writing-mode: vertical-rl;
  vertical-align: middle;
}
.nav{
  position: relative;
  top: 24vh;
  text-align: center;
}

.nav_nav{
  writing-mode: vertical-rl;
  text-align: center;
  letter-spacing: 5px;
}

.nav_nav:hover{
  letter-spacing: 10px;
  transform: translateY(-5px);
}

h1{
font-size: 100px;
}

a{
text-decoration: none;
color: black;
}
















pre {
  font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
  border: solid 1px #ddd;
  border-radius: 3px;
  background-color: #f8f8ff;
  padding: 6px 10px;
  font-size: 1em;
  line-height: 100%;
  overflow: auto;
}

code {
  font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
  font-size: 0.75em;
  border: solid 1px #ddd;
  border-radius: 3px;
  background-color: #f8f8ff;
  margin: 0 2px;
  padding: 0px 5px;
  word-wrap: break-word;
  word-break: break-all;
}

pre code {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  word-wrap: normal;
}


div.tag_cloud a {
  word-wrap: normal;
  word-break: normal;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 100%;
}

img.emoji {
  display: inline;
  margin-bottom: 0;
}

hr {
  border: 0;
  height: 2px;
  background-color: LightGrey;
  margin: 0.75em 0;
}

strong {
  color: #666666;
}

div.overview {
  margin: 1.75em 1.25em 1.75em 1.25em;
}

div.detail {
  margin-left: 28%;
}

div.date { 
  padding-top: 1px;
  float: left; 
  width: 25%; 
  color: #555;
  text-align: right; 
  font-style: italic; 
  font-size: 0.75em;
}

div.paginator {
  margin-left: 20%;
  float: center;
  width: 60%;
  color: #555;
  text-align: center;
  font-size: 0.75em;
}

.prev_next {
  display: block;
  padding: 0;
  padding-top: 0.6em;
}

.prev_next li {
  list-style-type: none;
  padding: 0 0 0.2em;
}

.prev_next li span {
  padding: 0 0.5em 0 0.5em;
  background-color: lightslategrey;
  color: #fff;
  margin-right: 0.5em;
}

div.post_footer {
  text-align: right;
  font-size: 0.9em;
  font-style: italic;
}

div.post_footer a {
  border: LightGrey 1px dashed;
}

table {
  border-collapse: collapse;
}

th {
  padding: 0.375em 0.8125em;
  border: 1px solid #ddd;
  font-weight: bold;
}

td {
  padding: 0.375em 0.8125em;
  border: 1px solid #ddd;
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}
