#cover{
  position: relative;
  height: 96vh;

}

#title{

position: relative;
width: 40vw;
left: 10vw;
top: 16vh;
writing-mode: vertical-rl;
}
.nav{
position: relative;
top: 20vh;

text-align: center;
}

.nav_nav{
writing-mode: vertical-rl;
text-align: center;
}

h1{
font-size: 100px;
}

a{
text-decoration: none;
color: black;
}








div.overview {
  margin: 1.5em 0 1.5em 0.75em;
}

div.detail {
  margin-left: 0;
}

div.date {
  display: none;
}

.gist .line-numbers {
  display: none;
}

.gist .line-data {
  font-size: 1em;
}
