
a{
    text-decoration: none;
    color: #1c1c1c;
    font-family: FandolSong;
}

span{
    font-family: FandolSong;
    color: #1c1c1c;
}


#article a{
    position: relative;
}

#article a::before{
    position: absolute;
    content: "";
    background-color: rgba(181,202,160,.5);
    left: 0;
    bottom: 0;
    height: 30%;
    width: 100%;
    transition:.5s;
}

#article a:hover::before{
    height: 100%;
}






@font-face {
    font-family: FandolSong-Bold;
    src: url(./FandolSong-Bold.otf);
}

@font-face {
    font-family: FandolSong;
    src: url(./FandolSong-Regular.otf);
}






    
    