{% include header.html %}
<div class="container">
    <div id="cover">
        <div id="posttitle">
            <span class="posttitle">
                {{ page.title }}
            </span>
        </div>
        {% include navigation.html %}
    </div>


    <div class="main">
        <div id="article">
            {{ content }}
        </div>
        {% if page.categories %}
        <p class="post_footer">
            Published on {{ page.date | date: "%b %d, %Y" }} in categories 
            {% for cat in page.categories %}
            <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
            {% endfor %}
        <p>
        {% endif %}
        <div class="prev_next">
            {% if page.previous.url %}
            <div>
                <span class="previous_post">上一篇</span>
                <a href="{{page.previous.url}}">{{page.previous.title}}</a>
            </div>
            {% endif %}
            {% if page.next.url %}
            <div class="nextpost">
                <span>下一篇</span>
                <a href="{{page.next.url}}">{{page.next.title}}</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% include footer.html %}
